/* ----------- Common stuff ----------- */

a:link    { color:#565656; }    
a:visited { color:#565656; }  
a:hover   { color:#FF0000; }  
a:active  { color:#565656; }

#main {
	width: 800px;
  margin-left: 30em;    
  background: white;
  margin-left:auto;
  margin-right:auto;
}

/* ----------- Banner ----------- */

#banner {
  background: url(title.jpg);  
  border-bottom: 2px solid;
  
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-size: 79px;
  line-height: 60px;
  
  color: #ffffff;      
  height: 200px;  
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;  
  text-align: right;  
}

#banner font {
	vertical-align: -210%;    
}

#banner img {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;      
}

/* ----------- Links ----------- */
#links {
	//font: small-caps 15px/15px "Times New Roman", serif;
	//font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	background: #efefef;
}

#links table {
	width: 100%;
	background: #efefef;
	text-align: center;	
}

/* ----------- Entries ----------- */

#entry {	
	color: #666a96;		
	font-size: 15px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
  line-height: 25px;

	//font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	//border-bottom: 1px dotted #eeeeee;
	//border-top: 1px dotted #eeeeee;
}

#entry h2 {
  font-family: 'Arvo', Georgia, Times, serif;
  font-size: 30px;
  line-height: 40px;
}

#entry .date {
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	text-align: right;
	color: #bbbbbb;	
	font-size: 15px;	
	margin-top: 0px;
  margin-bottom: -30px;
}

#ft img {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: -5px;  
}

#entry .comment_link {
  float: right;
}

#entry_options img {
  float: right;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;  
  margin-bottom: -5px;  
  margin-left: 10px;

}

/* ----------- Entry list ----------- */
#entry_list {
  margin-left:auto;
  margin-right:auto;
  width: 800px;
}

#entry_list table {
  margin-left:auto;
  margin-right:auto;
  width: 800px; 
}

#entry_list h3 {  
  font-family: 'Arvo', Georgia, Times, serif;
  font-size: 20px;
  line-height: 30px;
}

#entry_list .date {
  //font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;  
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  color: #bbbbbb; 
  font-size: 20px;    
}

/* ----------- Entry form ----------- */
#post_form {   
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

#post_form select {
  margin-left: 0.5em;
}

#post_form .sumbit_berry img {
  margin-left: 4em;
  float: right;
}

#post_form div {
  margin: 0.5em 0;
}

/* ----------- Comments ----------- */
#comment h4 {
  color: #666666;   
  font-size: 15px;
  font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
  line-height: 25px;
}

#comment {
  color: #666666;   
  font-size: 15px;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  //font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
  line-height: 25px;
}

#comment .date {
  text-align: right;
  color: #bbbbbb; 
  font-size: 10px;  
  margin-bottom: 5px;
}

#comment img {
  float: right;
  //padding-left: 0px;
  //padding-right: 0px;
  //padding-bottom: 0px;
  //padding-top: 0px;  
}

