/* ----------- Common stuff ----------- */

a:link    { color:#565656; }    
a:visited { color:#565656; }  
a:hover   { color:#FF0000; }  
a:active  { color:#565656; }

#main {
	width: 800px;
  margin-left: 30em;    
  background: white;
  margin-left:auto;
  margin-right:auto;
}

/* ----------- Banner ----------- */

#banner {
  background: url(title.jpg);  
  border-bottom: 2px solid;
  font: small-caps 65px/65px "Times New Roman", serif;
  color: #ffffff;      
  height: 200px;  
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;  
  text-align: right;  
}

#banner font {
	vertical-align: -223%;    
}

#banner img {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;      
}

/* ----------- Links ----------- */
#links {
	font: small-caps 15px/15px "Times New Roman", serif;
	color: red;	
}

#links table {
	width: 30%;
	background: #efefef;
	text-align: center;	
}

/* ----------- Entries ----------- */

#entry {	
	color: #666a96;		
	font-size: 15px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	border-bottom: 1px dotted #eeeeee;
	border-top: 1px dotted #eeeeee;
}

#entry .date {
	text-align: right;
	color: #bbbbbb;	
	font-size: 10px;	
	margin-bottom: 5px;
}
